application:
  name: familie-oppdrag

server:
  port: 8087
  servlet:
    context-path: /

spring:
  autoconfigure.exclude: org.springframework.boot.autoconfigure.web.servlet.error.ErrorMvcAutoConfiguration
  main.banner-mode: "off"
  data:
    jdbc:
      repositories:
        enabled: true
  main:
    allow-bean-definition-overriding: true
  flyway:
    enabled: true
  datasource:
    hikari:
      maximum-pool-size: 8
      connection-test-query: "select 1"
      max-lifetime: 30000
      minimum-idle: 1
      data-source-properties.stringtype: unspecified # Nødvendig for å kunde sende en String til et json-felt i PostgresSql

management:
  endpoint:
    health:
      show-details: always
      group:
        readyness:
          include: db
        liveness:
          include: db
  endpoints.web:
    exposure.include: info, health, metrics, prometheus
    base-path: "/internal"
  metrics.export.prometheus.enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
    db:
      enabled: true

springdoc:
  packagesToScan: no.nav.dagpenger.oppdrag
  pathsToMatch: /v3/api-docs,/api/**
  swagger-ui:
    disable-swagger-default-url: true

BA_SAK_CLIENT_ID: ""
EF_SAK_CLIENT_ID: ""
EF_IVERKSETT_CLIENT_ID: ""
TILBAKEKREVING_V1_URL: ""
FAMILIE_TILBAKE_CLIENT_ID: ""
AZURE_APP_WELL_KNOWN_URL: ""